<div class="container">
  <!-- Header -->
  <div class="header">
    <div class="title">
      <h1>Welcome to my Djangi + Angular test</h1>
    </div>
    <div class="blur"></div>
    <img src="/bridge_screen.png">
  </div>
  <!-- Content -->
  <app-map></app-map>
  <!-- Footer -->
  <div class="footer">
    <a href="#"></a>
    <p>You can check my profile on the given links just below</p>
    <div class="link">
      <a href="https://www.linkedin.com/in/leelian-serrant-874784252" target="_blank" rel="noopener noreferrer"><img src="/linkedin.png"></a>
      <a href="https://github.com/Timalenmodetryhard" target="_blank" rel="noopener noreferrer"><img src="/github.png"></a>
    </div>
  </div>
</div>
